/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import '../../revealjs/css/theme/template/mixins.scss';
@import '../../revealjs/css/theme/template/settings.scss';
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../revealjs/lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFF;
$mainColor: #222;
$headingColor: #222;
$highlightColor: #A6E22E;
$mainFontSize: 24px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2A76DD;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #FFF;
  }
}

// Theme template ------------------------------
@import '../../revealjs/css/theme/template/theme.scss';
// ---------------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', Arial,Helvetica Neue,Helvetica,sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
}

.highlighted {
  background: $highlightColor;
}


table.matches_overview__with_logo {
  td {
    height: 50px;
    padding: 0;
    vertical-align: middle;

    &.matches_overview__logo {
      text-align: center;

      img {
        border: 0;
        box-shadow: none;
        max-width: 50px;
        max-height: 50px;
        height: auto;
        width: auto;
      }
    }

    &.matches_overview__name {
      text-align: center;
    }
  }
}

.reveal {
  table {
    td {
      font-weight: bold;
      padding: .35em;
    }

    &.matches_next,
    &.matches_prev {
      td {
        padding: .75em;
      }
    }
  }

  // Hide play/pause + progress indicator (!important to overrule inline CSS).
  .playback,
  .progress {
    display: none !important;
  }

  .slides {
    width: 100% !important;
    height: 100% !important;

    section {
      background-color: white;
      padding: 2em;

      &:not(.stack):after,
      &:not(.stack):before {
        display: none !important;
      }

      &.sponsors--large {
        padding: 0;

        img {
          display: block;
          max-width: 100%;
          margin: 3vh auto !important;
          float: none;
          width: auto;
          max-height: 44vh;
          height: 44vh;
        }
      }

      &.sponsors--medium {
        img {
          width: 44%;
          margin: 3% !important;
          float: left;
        }
      }

      .no-border {
        border: 0;
        box-shadow: none;
      }
    }

    .instafeed,
    .twitterfeed {
      width: 100%;
      height: 100%;
      padding: 0;
    }
  }
}

/* --------------------------------------------------------------
	TWITTER
-------------------------------------------------------------- */
.twitter-tweets {
  width: 100%;
  height: 100%;
  background-color: #37A1F2;
}
.tweets-container {
  width: 100%;
  height: 100%;
  padding: 2.5% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  .tweet {
    flex-basis: 31%;
    background: #FFF;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15);
    padding: 60px 80px 100px 80px;
    text-align: left !important;
    position: relative;
    border-radius: 10px;
    &:before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      top: -30px;
      left: 50%;
      margin-left: -30px;
      z-index: 1;
      background-image: url(../images/twitter-icon.svg);
      background-size: 60px 60px;
    }
    .tweet__author {
      display: none;
    }
    .tweet__content {
      font-weight: 400;
      font-size: 22px;
      a {
        color: #37A1F2;
        text-decoration: underline;
      }
    }
    .tweet__created {
      font-size: 16px;
      color: grey;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      line-height: 40px;
      padding-left: 100px;
      background-color: #EFEFEF;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &:nth-child(2),
    &:nth-child(5) {
      transform: translateY(-50px);
    }
    &:nth-child(-n+3) {
      margin-bottom: 70px;
    }
  }
}

/* --------------------------------------------------------------
	TWITTER
-------------------------------------------------------------- */

.insta-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .insta-grid__media {
    width: 25%;
    height: 50vh;
    background-size: cover;
    background-position: 50% 50%;
    outline: 5px solid white;
    position: relative;
    overflow: hidden;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: none;
      max-height: none;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
      background-size: cover;
    }
  }
}

.bold {
  font-weight: bold !important;
}

.reveal > .slides > section > section {
  transform-style: flat;
}
